# Basic example

In [1]:
import numpy as np

In [2]:
import pandas as pd  
  

data = {'color': ['red', 'blue', 'green', 'red', 'blue']}  

df = pd.DataFrame(data)

In [3]:
data

{'color': ['red', 'blue', 'green', 'red', 'blue']}

In [4]:
df

   color
0    red
1   blue
2  green
3    red
4   blue

In [5]:
df.head()

   color
0    red
1   blue
2  green
3    red
4   blue

### This below 3 are the example of class 8

### Below 3 methods are used when data have single column

In [6]:
c =np.unique(df,return_counts = True)     # count the unique values
c

(array(['blue', 'green', 'red'], dtype=object), array([2, 1, 2], dtype=int64))

In [7]:
l = len(np.unique(df))                # len of the unique values
l

3

In [8]:
a = np.unique(df)          # Display Unique values
a

array(['blue', 'green', 'red'], dtype=object)

###  This 2 are new   - ' value_counts() , unique()  '

## Value_counts()

In [9]:
df["color"].value_counts()    # This is used to cont the seperate values

color
red      2
blue     2
green    1
Name: count, dtype: int64

##  unique

In [10]:
df["color"].unique()         # this type unique is uesd to find the seperate index unique

array(['red', 'blue', 'green'], dtype=object)

# categorical Data

In [11]:
df1=pd.read_excel("G:\ml geeks for gfgecks\CHAVALI.xlsx")
df1

FileNotFoundError: [Errno 2] No such file or directory: 'G:\\ml geeks for gfgecks\\CHAVALI.xlsx'

In [ ]:
df1.dtypes          # we need to convert object to int

###  Below 2 are same

In [ ]:
c1 =np.unique(df1['sex'],return_counts = True)   # correct  
c1 

# c1 =np.unique(df1,return_counts = True)     # wrong
# c1

In [ ]:
df1['sex'].value_counts()

### Below 2 are same

In [ ]:
a1=np.unique(df1['sex'])     # correct 
a1

# a1=np.unique(df1)     # wrong 
# a1

In [ ]:
df1['sex'].unique()

### THis is used to find length

In [ ]:
l1 = len(np.unique(df1['sex']))   # correct
l1


#l1 = len(np.unique(df1))    # wrong    
# l1

# LabelEncoder

### The label encoder is used to convert the alphabetical data into numerical form

### * Because system understood only numerical form

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
df1['name'].unique()

In [ ]:
label_encoder = LabelEncoder()

In [ ]:
df1.dtypes          # we need covert objects into numerical form

In [ ]:
df1['name'] = label_encoder.fit_transform(df1['name'])
df1['name']

In [ ]:
df1['sex'] = label_encoder.fit_transform(df1['sex'])
df1["sex"]

In [ ]:
df1['cast'] = label_encoder.fit_transform(df1['cast'])
df1['cast']

In [ ]:
df1

In [ ]:
df1.dtypes

# one hot encoding

In [ ]:
from sklearn.preprocessing import OneHotEncoder     # no need
import pandas as pd
import numpy as np

In [ ]:
df2 =pd.read_excel("G:\ml geeks for gfgecks\CHAVALI.xlsx")
df2

In [ ]:
# one_hot_encoder = OneHotEncoder           # no need

In [ ]:
pd.get_dummies(df2)   # True = 1  , False = 0

In [ ]:
one_hot_encoder1 = pd.get_dummies(df2['sex'])
df2

In [ ]:
one_hot_encoder1