In [31]:
import pandas as pd

In [32]:
df = pd.read_csv("D:\\ML\\25. ML - Support vector (Multiple) regression.csv")
df

         AT      V       AP     RH      PE
0     14.96  41.76  1024.07  73.17  463.26
1     25.18  62.96  1020.04  59.08  444.37
2      5.11  39.40  1012.16  92.14  488.56
3     20.86  57.32  1010.24  76.64  446.48
4     10.82  37.50  1009.23  96.62  473.90
...     ...    ...      ...    ...     ...
9563  16.65  49.69  1014.01  91.00  460.03
9564  13.19  39.18  1023.67  66.78  469.62
9565  31.32  74.33  1012.92  36.48  429.57
9566  24.48  69.45  1013.86  62.39  435.74
9567  21.60  62.52  1017.23  67.87  453.28

[9568 rows x 5 columns]

In [33]:
import seaborn as sns

In [34]:
# sns.pairplot(df)

In [35]:
x = df.drop(columns=['PE'] , axis=1)

In [36]:
y= df[['PE']]

In [37]:
df.isna().sum()

AT    0
V     0
AP    0
RH    0
PE    0
dtype: int64

In [38]:
df.dtypes

AT    float64
V     float64
AP    float64
RH    float64
PE    float64
dtype: object

## Split Data

In [39]:
from sklearn.model_selection import train_test_split

In [40]:
x_train , x_test , y_train ,y_test = train_test_split(x, y, test_size=0.2 , random_state=0)

## Data scalling

In [41]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [61]:
x_train_sc = sc.fit_transform(x_train)
x_test_sc = sc.transform(x_test)

# First check without scalling (y , y_train , y_test) , if we got less accuarcy means then try this...

# y_train_sc = sc.fit_transform(y_train) # If we make y_train , y_test in SC then in Last cell we make inverse transform..
# y_test_sc = sc.transform(y_test)    # This for check the score for x_test_sc

## SVR

In [43]:
from sklearn.svm import SVR

In [44]:
reg = SVR(kernel='rbf' ,  C=100, gamma=0.1, epsilon=0.1)

### fit

In [45]:
reg.fit(x_train_sc , y_train)

C:\Thirumoolar\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=100, gamma=0.1)

### Predict for x_test_sc

In [46]:
pred = reg.predict(x_test_sc)
pred

array([433.90361726, 457.58181869, 460.27466028, ..., 470.22807186,
       438.59509703, 461.44042356])

In [63]:
y_test.head()

          PE
4834  431.23
1768  460.01
2819  461.14
7779  445.90
7065  451.29

In [48]:
x_test_sc

array([[ 1.20924389,  1.84743445, -0.61878043, -0.28968211],
       [-0.29401214, -0.39528045,  1.39211729,  0.76937061],
       [-0.64629575, -0.88607065,  1.00508258,  1.77019599],
       ...,
       [-0.99857936, -0.74629361,  1.76737267,  1.02146078],
       [ 1.02368993, -0.50992904, -1.64526378, -0.96443434],
       [-0.32090402, -1.13342892, -1.03442205,  0.0651622 ]])

## Score

In [50]:
reg.score(x_test_sc , y_test)     #For this purpose  we can convert y_test into sc.transform(y_test)

0.9461324480179104

## Predict for x_train_sc

In [51]:
pred1 = reg.predict(x_train_sc)
pred1

array([475.99332091, 466.34136299, 431.63230615, ..., 461.94891826,
       469.43365465, 431.45702069])

In [62]:
y_train.head()

          PE
496   473.93
294   467.87
6796  431.97
6785  425.28
1203  473.10

In [54]:
x_train_sc

array([[-1.13572795, -0.88685592,  0.67357894,  0.52070558],
       [-0.80630243, -0.00971567,  0.45145467,  0.14531044],
       [ 1.77128416,  1.84743445,  0.24279248, -1.88374143],
       ...,
       [-0.38409993, -1.24886277,  0.84522042,  0.13092486],
       [-0.9232821 , -1.04155299,  1.54693117,  0.8830852 ],
       [ 1.70136528,  1.05824381, -1.20438076, -2.42285818]])

In [56]:
reg.score(x_train_sc , y_train)

0.9423894375622948

In [66]:
y_pred =  reg.predict([[1.20924389,  1.84743445, -0.61878043, -0.28968211]])
# z = sc.inverse_transform([y_pred])           # This will use only if we make scaling for - [y , y_train , y_test]
y_pred

array([433.90361727])