In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel("D:\\ML\\27. ML - Random Forest regression Data.xlsx")
df   # we can use multiple rows in X_train and one column in Y_train

   level  salary
0      1     450
1      2     500
2      3     600
3      4     800
4      5    1100
5      6    1500
6      7    2000
7      8    3000
8      9   50000
9     10  100000

In [3]:
x = df[['level']]
x

   level
0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10

In [4]:
y = df[['salary']]
y

   salary
0     450
1     500
2     600
3     800
4    1100
5    1500
6    2000
7    3000
8   50000
9  100000

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2 , random_state=0)

In [7]:
x_train

   level
4      5
9     10
1      2
6      7
7      8
3      4
0      1
5      6

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
ss = StandardScaler()

In [10]:
x_train = ss.fit_transform(x_train)
x_test= ss.transform(x_test)
y_train= ss .fit_transform(y_train)   # First check without scalling (y , y_train , y_test) , if we got less accuarcy means then try this...
y_test = ss.transform(y_test)

In [11]:
from sklearn.ensemble import RandomForestRegressor

In [12]:
rf = RandomForestRegressor()

In [13]:
rf.fit(x_train , y_train)

C:\Users\Admin\AppData\Local\Temp\ipykernel_3400\3990742091.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(x_train , y_train)

RandomForestRegressor()

In [14]:
pred = rf.predict(x_test)
pred

array([-0.39568971,  1.75096585])

In [15]:
from sklearn.metrics import r2_score

In [16]:
r2_score(y_test , pred)

0.6447278579799698

In [19]:
z = rf.predict([[10]])
z = ss.inverse_transform([z])   # This will use only if we make scaling for - [y , y_train , y_test]
z

array([[70820.]])